<section class="soc-home-banner hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="title">Do it once. Do it right!</h1>
          <h2 class="subtitle">
            Learn, Practice and Compete.
          </h2>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4 is-offset-4 has-text-centered">
          <a class="button is-medium is-fullwidth">Student</a>
          <a class="button is-medium is-fullwidth">Teacher</a>
        </div>
      </div>
    </div>
  </div>
</section>